<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PenHouse</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function getAllHouse() {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/houses",
                success: function (house) {
                    console.log(house)
                    displayHouse(house)
                }
            })
        }

        function displayHouse(array) {
            let res = "";
            res += `<table border="1" cellpadding="5">
                <tr>
                    <th>Name</th>
                    <th>Bathroom</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th colspan="3">Action</th>
                </tr>`
            for (let i = 0; i < array.length; i++) {
                res += `<tr>
                    <td> ${array[i].name}</td>
                    <td> ${array[i].bathroom}</td>
                    <td> ${array[i].category.name}</td>
                    <td> ${array[i].category.description}</td>
                    <td><button onclick="viewHouse(${array[i].id})">View</button></td>
                    <td><button onclick="showFormEditHouse(${array[i].id})">Edit</button></td>
                    <td><button onclick="deleteHouse(${array[i].id})">Delete</button></td>
                        </tr>`
            }
            res += `</table>`
            document.getElementById("display").innerHTML = res;
        }

        function formCreate() {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/categories",
                success: function (categories) {
                    console.log(categories);
                    let form = `<table cellpadding="5">
                            <tr>
                                <th>Name: </th>
                                <td><input type="text" id="name"></td>
                            </tr>
                            <tr>
                                <th>Bathroom: </th>
                                <td><input type="number" id="bathroom"></td>
                            </tr>
                            <tr>
                                <th>Category: </th>
                                <td>
                                    <select id="category">`
                    for (let i = 0; i < categories.length; i++) {
                        form += `<option value="${categories[i].id}">${categories[i].name}</option>`
                    }
                    form += `</select>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td><button onclick="saveHouse()">Save</button></td>
                            </tr>
                        </table>`;
                    document.getElementById("display").innerHTML = form;
                }
            })
        }

        function saveHouse() {
            let house = {
                "name": document.getElementById("name").value,
                "bathroom": document.getElementById("bathroom").value,
                "category": {
                    "id": document.getElementById("category").value,
                }
            }
            console.log(house)
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: "http://localhost:8080/api/houses",
                data: JSON.stringify(house),
                success: function () {
                    alert("Thêm Thành Công")
                    getAllProduct();
                },
                error: function (error) {
                    console.log(error)
                }
            })
        }

        function showFormEditHouse(id) {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/houses/" + id,
                success: function (house) {
                    console.log(house)
                    $.ajax({
                        type: "GET",
                        url: "http://localhost:8080/api/categories",
                        success: function (category) {
                            console.log(category)
                            let form =
                                "<p>Name</p>" + `<input type="text" id="name" value="${house.name}">\n` + "<br>" +
                                "<p>Bathroom</p>" + `<input type="text" id="bathroom" value="${house.bathroom}">\n` + "<br>" +
                                "<p>Category</p>" + `<select  id="category">
                                 <option value="${house.category.id}"> ${house.category.name}</option>`
                            for (let i = 0; i < category.length; i++) {
                                form += `<option value="${category[i].id}">${category[i].name}</option>`
                            }
                            form += `</select>`
                                + `<button onclick="updateHouse(${house.id})">Thay đổi</button>`
                            console.log(form)
                            document.getElementById("display").innerHTML = form;
                        }
                    })
                }
            })
        }

        function updateHouse(id) {
            let name = document.getElementById("name").value;
            let bathroom = document.getElementById("bathroom").value;
            let category = document.getElementById("category").value;
            let house = {
                id: id,
                name: name,
                bathroom: bathroom,
                category: {
                    id: category
                }
            }
            console.log(house)
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "PUT",
                url: "http://localhost:8080/api/houses/" + id,
                data: JSON.stringify(house),
                success: alert("Sứa max thành công"),
                error: function (error) {
                    console.log(error)
                }
            })
        }

        function deleteHouse(id) {
            if (confirm("Are you sure")) {
                $.ajax({
                    type: "DELETE",
                    url: "http://localhost:8080/api/houses/" + id,
                    success: getAllHouse,
                    error: function (error) {
                        console.log(error)
                    }
                })
            }
        }

        function viewHouse(id) {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/houses/" + id,
                success: function (house) {
                    console.log(house)
                    let view = `<table cellpadding="5">
                                    <tr>
                                        <th>Name: </th>
                                        <td>${house.name}</td>
                                    </tr>
                                    <tr>
                                        <th>Bathroom: </th>
                                        <td>${house.bathroom}</td>
                                    </tr>
                                    <tr>
                                        <th>Category: </th>
                                        <td>${house.category.name}</td>
                                    </tr>
                                    <tr>
                                        <th>Description: </th>
                                        <td>${house.category.description}</td>
                                    </tr>
                                </table>`;
                    console.log(view)
                    document.getElementById("display").innerHTML = view;
                }
            })
        }
    </script>
</head>
<body>
<button onclick="getAllHouse()"> Hiện Danh sách Nhà</button>
<button onclick="formCreate()"> Thêm Mới</button>
<div id="display"></div>
</body>
</html>