<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Manager</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function getAllBlog() {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/blogs",
                success: function (blog) {
                    console.log(blog)
                    displayBlog(blog)

                }
            })
        }

        function displayBlog(array) {
            let res = "";
            res += `<table border="1" cellpadding="5">
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Time</th>
                    <th>Mode</th>
                    <th colspan="3">Action</th>
                </tr>`
            for (let i = 0; i < array.length; i++) {
                res += `<tr>
                    <td> ${array[i].title}</td>
                    <td> ${array[i].content}</td>
                    <td> ${array[i].time}</td>
                    <td> ${array[i].mode.name}</td>
                    <td><button onclick="viewBlog(${array[i].id})">View</button></td>
                    <td><button onclick="showFormEditBlog(${array[i].id})">Edit</button></td>
                    <td><button onclick="deleteBlog(${array[i].id})">Delete</button></td>
                        </tr>`
            }
            res += `</table>`
            res += '<button onclick="getAllBlogByMode()">Quay lại Trang chủ</button>'
            console.log(res)
            document.getElementById("display").innerHTML = res;
        }

        function displayBlog2(array) {
            let res = "";
            res += `<table border="1" cellpadding="5">
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Time</th>
                    <th>Mode</th>
                    <th colspan="3">Action</th>
                </tr>`
            for (let i = 0; i < array.length; i++) {
                res += `<tr>
                    <td> ${array[i].title}</td>
                    <td> ${array[i].content}</td>
                    <td> ${array[i].time}</td>
                    <td> ${array[i].mode.name}</td>
                    <td><button onclick="viewBlog(${array[i].id})">View</button></td>
                    <td><button onclick="showFormEditBlog(${array[i].id})">Edit</button></td>
                    <td><button onclick="deleteBlog(${array[i].id})">Delete</button></td>
                        </tr>`
            }
            res += `</table>`
            console.log(res)
            document.getElementById("display").innerHTML = res;
        }

        function getAllBlogByMode() {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/blogs/findByMode",
                success: function (blog) {
                    console.log(blog)
                    displayBlog2(blog)
                }
            })
        }

        function formCreate() {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/modes",
                success: function (modes) {
                    console.log(modes);
                    let form = `<table cellpadding="5">
                            <tr>
                                <th>Title: </th>
                                <td><input type="text" id="title"></td>
                            </tr>
                            <tr>
                                <th>Content: </th>
                                <td><input type="text" id="content"></td>
                            </tr>

                            <tr>
                                <th>Mode: </th>
                                <td>
                                    <select id="mode">`
                    for (let i = 0; i < modes.length; i++) {
                        form += `<option value="${modes[i].id}">${modes[i].name}</option>`
                    }
                    form += `</select>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td><button onclick="saveBlog()">Save</button></td>
                            </tr>
                        </table>`;
                    form += '<button onclick="getAllBlogByMode()">Quay lại Trang chủ</button>'
                    document.getElementById("display").innerHTML = form;
                }
            })
        }

        function saveBlog() {
            let blog = {
                "title": document.getElementById("title").value,
                "content": document.getElementById("content").value,
                "mode": {
                    "id": document.getElementById("mode").value,
                }
            }
            console.log(blog)
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: "http://localhost:8080/api/blogs/",
                data: JSON.stringify(blog),
                success: function () {
                    alert("Thêm Thành Công")
                    getAllBlog();
                },
                error: function (error) {
                    console.log(error)
                }
            })
        }

        function showFormEditBlog(id) {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/blogs/" + id,
                success: function (blog) {
                    console.log(blog)
                    $.ajax({
                        type: "GET",
                        url: "http://localhost:8080/api/modes",
                        success: function (mode) {
                            console.log(mode)
                            let form =
                                "<p>Title</p>" + `<input type="text" id="title" value="${blog.title}">\n` + "<br>" +
                                "<p>Content</p>" + `<input type="text" id="content" value="${blog.content}">\n` + "<br>" +
                                `<input type="hidden" id="time" value="${blog.time}">\n` +
                                "<p>Mode</p>" + `<select  id="mode">
                                 <option value="${blog.mode.id}"> ${blog.mode.name}</option>`
                            for (let i = 0; i < mode.length; i++) {
                                form += `<option value="${mode[i].id}">${mode[i].name}</option>`
                            }
                            form += `</select>`
                                + `<button onclick="updateBlog(${blog.id})">Thay đổi</button>`+'<br>'
                            +'<button onclick="getAllBlogByMode()">Quay lại Trang chủ</button>'
                            console.log(form)
                            document.getElementById("display").innerHTML = form;
                        }
                    })
                }
            })
        }

        function updateBlog(id) {
            let title = document.getElementById("title").value;
            let content = document.getElementById("content").value;
            let time = document.getElementById("time").value;
            let mode = document.getElementById("mode").value;
            let blog = {
                id: id,
                title: title,
                content: content,
                time: time,
                mode: {
                    id: mode
                }
            }
            console.log(blog)
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "PUT",
                url: "http://localhost:8080/api/blogs/" + id,
                data: JSON.stringify(blog),
                success: alert("Sứa max thành công"),
                error: function (error) {
                    console.log(error)
                }
            })
        }

        function deleteBlog(id) {
            if (confirm("Are you sure")) {
                $.ajax({
                    type: "DELETE",
                    url: "http://localhost:8080/api/blogs/" + id,
                    success: getAllBlog,
                    error: function (error) {
                        console.log(error)
                    }
                })
            }
        }

        function viewBlog(id) {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/blogs/" + id,
                success: function (blog) {
                    console.log(blog)
                    let view = `<table cellpadding="5">
                                    <tr>
                                        <th>Title: </th>
                                        <td>${blog.title}</td>
                                    </tr>
                                    <tr>
                                        <th>Content: </th>
                                        <td>${blog.content}</td>
                                    </tr>
                                    <tr>
                                        <th>Time: </th>
                                        <td>${blog.time}</td>
                                    </tr>
                                    <tr>
                                        <th>Mode: </th>
                                        <td>${blog.mode.name}</td>
                                    </tr>
                                </table>`;
                    view += '<button onClick="getAllBlogByMode()">Quay lại Trang chủ</button>'
                    console.log(view)
                    document.getElementById("display").innerHTML = view;
                }
            })
        }
    </script>
</head>
<body onload="getAllBlogByMode()">
<button onclick="getAllBlog()">Hiện danh sách Blog</button>
<!--<button onclick="getAllBlogByMode()">Trang chủ</button>-->
<button onclick="formCreate()">Thêm Mới</button>
<div id="display"></div>
</body>
</html>